<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="dev.pharsh.flutter_fling">
    <!-- Android Network Access Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <application>
    <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>
</manifest>
